*{
    color: white;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:  linear-gradient(to bottom, teal, aliceblue);
    color: white;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

a{
    font-size: 130%;
    margin: 30px;
    color: white;
}

img{
    width: 100%;
    display: flex;
    position: fixed;
    top: 70px;
    z-index: -10;
}


header{
    background-color: rgb(160, 82, 45, 0.6);
    padding: 10px;
    margin-top: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

main{
     background-color: sandybrown;
     padding: 30px;
     height: 411px;
}

footer{
    background-color: sienna;
    padding: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px ;
}

h1{
    text-shadow: 2px 2px 5px black;
}


table{
    width: 70%;
    margin: 0 auto;
    background-color: sienna;
    border: 1px solid sandybrown;
    border-collapse: collapse;
}

td{
    border: 1px solid sandybrown;
    border-collapse: collapse;
}

button{
    color: black;
}